<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
         
  <display-name>ProjectAllocaton</display-name>
  
  <servlet>
  	<servlet-name>addProjectServlet</servlet-name>
  	<servlet-class>syzcogen.servlet.addProjectServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>addProjectServlet</servlet-name>
  	<url-pattern>/addproject</url-pattern>
  </servlet-mapping>

<servlet>
  	<servlet-name>getProjectServlet</servlet-name>
  	<servlet-class>syzcogen.servlet.getProjectServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>getProjectServlet</servlet-name>
  	<url-pattern>/newprojects</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>deleteProjectServlet</servlet-name>
  	<servlet-class>syzcogen.servlet.deleteProjectServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>deleteProjectServlet</servlet-name>
  	<url-pattern>/deleteprojects</url-pattern>
  </servlet-mapping>


</web-app>